* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;

    font-family: 'Open Sans', sans-serif;
}

.separador{
    clear: both;
}

body{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(to bottom right, rgba(0,0,255,0.7), rgba(0,255,0,0.7)), url(imagenes/fondo_superior.jpg);
    background-size: 100%;
    padding-bottom: 20px;
}

.cabeceraLogoRedes{
    width: 95%;
    margin: 0 auto;

}

.logo{
    float: left;
}

.redesCabecera{
    float: right;
    margin-top:10px;
}
.redesCabecera a{
    float: left;
    margin-right: 10px;
}
.redesCabecera img{
    float: left;
}
.redesCabecera p{
    float: left;
    color: white;
}

.englobaTextoForm{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.textoCabecera{
    width: 60%;
    float: left;
    color: white;
}

.textoCabecera h1{
    margin-bottom: 20px;
}

.textoCabecera li{
    margin-bottom: 20px;
    list-style-image: url(imagenes/check.svg);
}

.englobaForm{
    width: 30%;
    float: right;
    background-color: white;
    padding-left: 20px;
    padding-bottom: 20px;
}

.englobaForm h3{
    margin-bottom: 20px;
    margin-top: 20px;
}

.englobaForm input{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90%;
    height: 30px;
}

.englobaForm input[type="button"]{
    background-color: #35B81E;
    border-color: #35B81E;
    color: white;
}

.englobaForm p{
    width: 90%;
    font-size: 14px;
}

.englobaForm a{
    color: black;
}

/**CUERPO**/
main{
    width: 100%;
}

.fotosColum{
    width: 100%;
    margin: 30px auto;
}

.colum{
    width: 20%;
    float: left;
}

.fotosColum div:nth-child(1){
    margin-left: 2.5%;
    margin-right: 5%;
}
.fotosColum div:nth-child(2){
    margin-right: 5%;
}
.fotosColum div:nth-child(3){
    margin-right: 5%;
}
.fotosColum div:nth-child(4){
    margin-right: 2.5%;
}

.divImage{
    width: 50%;
    margin: 0 auto !important;
    border: 2px solid #134563;
    border-radius: 50%;
}

.fotosColum p{
    margin-top: 20px;
    text-align: center;
}

.englobaVideo{
    width: 100%;
    margin: 30px auto;
    padding: 2%;
    background-color: #F6F9FE;
}

.textoVideo{
    width: 55%;
    float: left;
}

.textoVideo h2{
    margin-bottom: 25px;
}

.textoVideo button{
    margin-top: 50px;
    background-color: #35B81E;
    border-color: #35B81E;
    color: white;
    width: 350px;
    height: 40px;
}

.video{
    width: 40%;
    float: right;
}

.video video{
    width: 100%;
}

.englobaStaff, .englobaStaffPerfiles{
    width: 100%;
    margin: 20px auto;
}

.englobaStaff h1{
    text-align: center;
    margin-bottom: 40px;
}

.perfil{
    width: 20%;
    min-height: 300px;
    float: left;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.englobaStaff div:nth-child(1){
    margin-right: 5%;
    margin-left: 2.5%;
}
.englobaStaff div:nth-child(2){
    margin-right: 5%;
}
.englobaStaff div:nth-child(3){
    margin-right: 5%;
}
.englobaStaff div:nth-child(4){
    margin-right:2.5%;
}

.englobaStaff div div img{
    width: 100%;
}

.englobaStaff div div h3{
    margin-top: 20px;
}

.englobaStaff div div p{
    margin-top: 15px;
    margin-bottom: 15px;
}

.staffRedes{
    width: 100%;
}

.staffRedes a{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: 20px;
}

footer{
    width: 100%;
    margin: 20px auto 0 auto;
}

.footerInfo{
    width: 100%;
    min-height: 200px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(54,136,186,0.7),rgba(54,136,186,0.7)), url(imagenes/fondo_inferior.jpg);
    background-size: 100%;
    padding-top: 40px;
    color: white;
}

.footerInfo h1{
    margin-bottom: 20px;
}

.footerInfo button{
    margin-top: 20px;
    background-color: #35B81E;
    border-color: #35B81E;
    color: white;
    width: 350px;
    height: 40px;
}

.footerMenu{
    width: 100%;
    min-height: 50px;
    background-color: #2C2A2B;
    color: white;
    font-size: 11px;
    padding-top: 20px;
}

.footerMenu ul{
    text-align: left;
    width: 50%;
    float: left;
}

.footerMenu ul:nth-child(1){
    margin-left: 50px;
}

.footerMenu li{
    display: inline-block;
    margin-right: 10px;
}

.footerMenu p{
    width: 30%;
    text-align: center;
    float: right;
}

/*---RESPONSIVE---*/

@media only screen and (min-width: 2000px) {
    p, ul, a, label{
        font-size: 20px;
    }

    h1{
        font-size: 32px;
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 28px;
    }

    .englobaForm p{
        font-size: 20px;
    }

    .englobaForm input{
        height: 30px;
    }
    
    .englobaForm input[type="button"]{
        font-size: 20px;
    }

    .textoVideo button{
        width: 500px;
        height: 40px;
        font-size: 20px;
    }

    .footerInfo button{
        width: 500px;
        height: 40px;
        font-size: 20px;
    }

}

@media only screen and (max-width: 1200px) {
    p, ul, a, label{
        font-size: 11px;
    }

    h1{
        font-size: 20px;
    }

    .englobaForm p{
        font-size: 11px;
    }

    .logo img{
        width: 150px;
    }

    .redesCabecera img{
        width: 20px;
    }

    .englobaForm{
        padding-left: 15px;
        padding-bottom: 15px;
    }
    
    .englobaForm h3{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .englobaForm input{
        margin-bottom: 5px;
        margin-top: 5px;
        height: 25px;
    }
    
    .englobaForm input[type="button"]{
        font-size: 11px;
    }

}

@media only screen and (max-width: 800px) {
    p, ul, a, label{
        font-size: 8px;
    }

    h1{
        font-size: 18px;
    }

    h2{
        font-size: 16px;
    }

    h3{
        font-size: 14px;
    }

    .englobaForm p{
        font-size: 8px;
    }

    .logo img{
        width: 125px;
    }

    .redesCabecera img{
        width: 15px;
    }

    .englobaForm{
        padding-left: 10px;
        padding-bottom: 10px;
    }
    
    .englobaForm h3{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .englobaForm input{
        margin-bottom: 5px;
        margin-top: 5px;
        height: 20px;
    }
    
    .englobaForm input[type="button"]{
        font-size: 8px;
    }

    .textoVideo button{
        margin-top: 15px;
        width: 250px;
        height: 25px;
        font-size: 8px;
    }

    .perfil{
        min-height: 150px;
    }

    .footerInfo button{
        margin-top: 15px;
        width: 250px;
        height: 25px;
        font-size: 8px;
    }

    .footerInfo{
        min-height: 150px;
        padding-top: 25px;
    }

    .footerMenu{
        min-height: 30px;
        font-size: 8px;
        padding-top: 10px;
    }
    
}

@media only screen and (max-width: 576px) {
    p, ul, a, label{
        font-size: 6px;
    }

    h1{
        font-size: 16px;
    }

    h2{
        font-size: 14px;
    }

    h3{
        font-size: 12px;
    }

    .englobaForm p{
        font-size: 6px;
    }

    .logo img{
        width: 100px;
    }

    .redesCabecera img{
        width: 10px;
    }

    .englobaForm{
        padding-left: 5px;
        padding-bottom: 5px;
    }
    
    .englobaForm h3{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .englobaForm input{
        margin-bottom: 5px;
        margin-top: 5px;
        height: 15px;
    }
    
    .englobaForm input[type="button"]{
        font-size: 6px;
    }

    .textoVideo button{
        margin-top: 15px;
        width: 200px;
        height: 20px;
        font-size: 6px;
    }

    .perfil{
        min-height: 100px;
    }

    .footerInfo button{
        margin-top: 15px;
        width: 200px;
        height: 20px;
        font-size: 6px;
    }

    .footerInfo{
        min-height: 125px;
        padding-top: 20px;
    }

    .footerMenu{
        min-height: 25px;
        font-size: 6px;
        padding-top: 10px;
    }

}
